<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Create Task</title>
</head>
<body>
  <h1>Create a new task</h1>

  <form th:action="@{/task/create}" method="post">
    <input type="hidden" name="projectId" th:value="${projectId}" />
    <label for="taskName">Task Name:</label><br>
    <input type="text" id="taskName" name="taskName"><br><br>

    <label for="taskDescription">Task Description:</label><br>
    <textarea id="taskDescription" name="taskDescription"></textarea><br><br>
    <button type="submit">Create task</button>
  </form>
  <a th:href="@{'/project'}">← Back to subtask overview</a>
</body>
</html>
