<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger subtask</title>
</head>
<body>

<h2>Rediger subtask</h2>

<form th:action="@{/subtask/edit}" th:object="${subtask}" method="post">
    <input type="hidden" th:field="*{taskId}"/>
    <label for="subtaskName">Tasktitel:</label><br>
    <input type="text" id="subtaskName" th:field="*{subtaskName}" required/><br><br>

    <label for="subtaskDescription">taskbeskrivelse:</label><br>
    <textarea id="subtaskDescription" th:field="*{subtaskDescription}" rows="3" cols="40"></textarea><br><br>

    <label for="subtaskEstimatedHours">Estimated Time:</label><br>
    <input type="number" id="subtaskEstimatedHours" th:field="*{subtaskEstimatedHours}" required/><br><br>

    <button type="submit">Gem ændringer</button>
    <a th:href="@{/project}">Annuller</a>
</form>

</body>
</html>
