<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rediger projekt</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<h2>Rediger projekt</h2>

<form th:action="@{/project/update}" th:object="${project}" method="post">
    <input type="hidden" th:field="*{projectId}"/>

    <label for="projectName">Projekttitel:</label><br>
    <input type="text" id="projectName" th:field="*{projectName}" required/><br><br>

    <label for="projectDescription">Projektbeskrivelse:</label><br>
    <textarea id="projectDescription" th:field="*{projectDescription}" rows="3" cols="40"></textarea><br><br>

    </div>

    <button type="submit">Gem ændringer</button>
    <a th:href="@{/project}">Annuller</a>
</form>

</body>
</html>
